<!DOCTYPE html>
</html>
    <head>
        <title id="main_title">Agile Manager</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <script type="text/javascript"  src="/js/main.js"></script>

        <script type="text/javascript"  src="/vendor/jquery-2.1.1.js"></script>
        <script type="text/javascript"  src="/vendor/dateFormat.js"></script>
        <script type="text/javascript"  src="/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript"  src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript"  src="/vendor/jquery.validate.js"></script>

        <script type="text/javascript"  src="/config/config.js"></script>
        <script type="text/javascript"  src="/libs/verifier.js"></script>
        <script type="text/javascript"  src="/libs/counter.js"></script>

        <script src="vendor/dhtmlx/sources/dhtmlxTree/codebase/ext/dhtmlxtree_start.js"></script>
        <link rel="stylesheet" type="text/css" href="vendor/dhtmlx/sources/dhtmlxTree/codebase/skins/dhtmlxtree_dhx_terrace.css">
        <script src="vendor/dhtmlx/sources/dhtmlxCommon/codebase/dhtmlxcommon.js"></script>
        <script src="vendor/dhtmlx/sources/dhtmlxTree/codebase/dhtmlxtree.js"></script>
        <script src="vendor/dhtmlx/codebase/dhtmlx.js"></script>


    </head>
    <body>

        <div id="wrapper">
            <div class="page-header"><h2><Agile Manager></h2>
                        
                        <a class="a-inside menu users" href="/users">Users</a>
                        <a class="a-inside menu users" href="/teams">Teams</a>
                        <a class="a-inside menu users" href="/calendar">Calendar</a>
                <!-- <a class="a-inside menu" href="/releases">Releases</a> -->
                <!--<a class="a-inside menu" href="/sprints">Sprints</a>-->
                <!--<a class="a-inside menu" href="/stories">Stories</a>-->
                        <a class="a-inside menu qa" href="/testlab">Test Lab</a>
                        <a class="a-inside menu qa" href="/configurations">Configurations</a>
                        <a class="a-inside menu" href="/defects">Defects</a>
                <!--<a class="a-inside menu qa" href="/testplan">Test Plan</a>-->
                        <a class="b-inside" href="/logout">Logout</a>
                        <a class="b-inside" href="/settings">Settings</a>
                        <a class="b-inside" href="/profile">Profile</a>
                        <a class="b-inside" href="/admin">Administartion</a>


            </div>

            <div class="page-container">


