<div class="page-header"><h2><Agile Manager></h2>

    <a class="a-inside menu users" href="/users">Users</a>
    <a class="a-inside menu users" href="/teams">Teams</a>
    <a class="a-inside menu users" href="/calendar">Calendar</a>
    <!-- <a class="a-inside menu" href="/releases">Releases</a> -->
    <!--<a class="a-inside menu" href="/sprints">Sprints</a>-->
    <!--<a class="a-inside menu" href="/stories">Stories</a>-->
    <a class="a-inside menu qa" href="/testlab">Test Lab</a>
    <a class="a-inside menu qa" href="/configurations">Configurations</a>
    <a class="a-inside menu" href="/defects">Defects</a>
    <a class="a-inside menu" href="/votes">Votes</a>
    <!--<a class="a-inside menu qa" href="/testplan">Test Plan</a>-->
    <a class="b-inside" href="/logout">Logout</a>
    <a class="b-inside" href="/settings">Settings</a>
    <a class="b-inside" href="/profile">Profile</a>
    <a class="b-inside" href="/admin">Administartion</a>


</div>