
<%- include layouts/header.ejs %>

<div class="page-data">

    <table border="1" cellpadding="1" cellspacing="1" width="100%">
        <tbody>
        <tr>
            <td class="td-border" width="20%">
                <table border="1" cellpadding="1" cellspacing="1" width="100%">
                    <tbody>
                    <tr>
                        <td class="td-border" id="configurations">Configurations<input name="add_configuration" type="button" value="+"><input name="remove_configuration" type="button" value="-">
                            <div class="dhtmlxTree"
                                 id="treebox_configurations"
                                 style="width:280px; height:150px;overflow:auto;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-border" id="list">Lists<input name="add_list" type="button" value="+"><input name="remove_list" type="button" value="-">
                            <div class="dhtmlxTree"
                                 id="treebox_lists"
                                 style="width:280px; height:200px;overflow:auto;">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="td-border" width="60%">Configuration Matrix
            <table id="config-matrix-table"></table>
            </td>
            <td class="td-border" width="20%">
                <table border="1" cellpadding="1" cellspacing="1" width="100%">
                    <tbody>
                    <tr>
                        <td class="td-border" width="100%">Top<input name="add_top" type="button" value="+"><input name="remove_top" type="button" value="-">
                            <div class="dhtmlxTree"
                                 id="treebox_top"
                                 style="width:280px; height:200px;overflow:auto;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-border" width="100%">Left<input name="add_left" type="button" value="+"><input name="remove_left" type="button" value="-">
                            <div class="dhtmlxTree"
                                 id="treebox_left"
                                 style="width:280px; height:200px;overflow:auto;">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>

<script>
    window.onload = function() {
        configurations();
    }
</script>
</html>

