<%- include layouts/header.ejs %>

<head>
    <script type="text/javascript"  src="/js/defects.js"></script>
    <link rel="stylesheet" href="/vendor/jquery-ui-1.11.4/jquery-ui.css">
    <script src="/vendor/jquery-ui-1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/defects.css">
</head>


<div id="defects-main">
    <div style="width:100%;">
        <div class="panel panel-primary filterable">
            <table class="table" id="d-list">
                <thead class="fixed-header">
                <tr >
                    <th style="width: 3%;">Id</th>
                    <th style="width: 50%;">Summary</th>
                    <th style="width: 5%;">Status</th>
                    <th style="width: 5%;">Severity</th>
                    <th style="width: 4%;">Priority</th>
                    <th style="width: 7%;">Reporter</th>
                    <th style="width: 7%;">Developer</th>
                    <th style="width: 4%;">d in</th>
                    <th style="width: 4%;">f in</th>
                    <th style="width: 6%;">Type</th>
                    <th style="width: 6%;">Feature</th>
                </tr>
                <tr class="filters">
                    <th style="width: 3%;"><input style="width: 100%;" type="text" class="form-control" name="d-t-id" placeholder="id"></th>
                    <th style="width: 50%;"><input style="width: 100%;" type="text" name="d-t-summary" placeholder="summary" ></th>
                    <th style="width: 5%;"><input style="width: 100%;" type="text" name="d-t-status" placeholder="status" ></th>
                    <th style="width: 5%;"><input style="width: 100%;" type="text" name="d-t-severity" placeholder="severity" ></th>
                    <th style="width: 4%;"><input style="width: 100%;" type="text" name="d-t-priority" placeholder="priority" ></th>
                    <th style="width: 7%;"><input style="width: 100%;" type="text" name="d-t-reporter" placeholder="reporter" ></th>
                    <th style="width: 7%;"><input style="width: 100%;" type="text" name="d-t-developer" placeholder="developer" ></th>
                    <th style="width: 4%;"><input style="width: 100%;" type="text" name="d-t-build-found" placeholder="found in" ></th>
                    <th style="width: 4%;"><input style="width: 100%;" type="text" name="d-t-build-fixed" placeholder="fixed in" ></th>
                    <th style="width: 6%;"><input style="width: 100%;" type="text" name="d-t-type" placeholder="type" ></th>
                    <th style="width: 6%;"><input style="width: 100%;" type="text" name="d-t-feature" placeholder="feature" ></th>
                </tr>
                </thead>
                <tbody  id="scroll" class="scroll-content">

                </tbody>
            </table>
        </div>
    </div>

    <table id="d_details">
        <tr>
            <td style="width: 100%">
                <div style="width:100%;">
                    <label for="d-l-summary">Summary</label>
                    <input type="text" id="d-l-summary" disabled="true"/>
                </div>
            </td>
            <td>
                <div>
                    <input type="button" id="clear" value="New Defect">
                    <input type="button" id="d-edit" value="Edit" disabled="true">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="float:left; width:30%;">
                    <label for="d-l-description">Description</label>
                    <textarea id="d-l-description" rows="6" class="defects" disabled="true"></textarea><br>
                </div>
                <div style="float:left; width:2%;">&nbsp</div>
                <div style="float:left; width:30%;">
                    <!--<input style="float:right;" type="button" value="Insert" id="insert-l-comment"><br>-->
                    <label for="d-l-comments">Comments</label>
                    <textarea id="d-l-comments" rows="6" class="defects" disabled="true"></textarea><br>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>


</div>

<div id="newDefect" title="New Defect">
    <form id="newDefectForm">
        <fieldset>
            <label for="d_summary">Summary</label>
                <textarea name="d_summary" id="d_summary" minlength="10" rows="3" class="defects" required></textarea>
            <table>
                <tr>
                    <td>
                        <label for="d_id">Id</label>
                        <input type="text" name="d_id" id="d_id" disabled="true" class="text ui-widget-content ui-corner-all">
                    </td>
                    <td>
                        <label for="d-status">Status</label>
                        <select type="text" id="d-status"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="d-severity">Severity</label>
                        <select type="text" id="d-severity"/>
                    </td>
                    <td>
                        <label for="d-priority">Priority</label>
                        <select type="text" id="d-priority">
                            <option value="1">P1&nbsp;&nbsp;&nbsp;</option>
                            <option value="2">P2&nbsp;&nbsp;&nbsp;</option>
                            <option value="3">P3&nbsp;&nbsp;&nbsp;</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="d-reporter">Reporter</label>
                        <input type="text" id="d-reporter" disabled="true" class="text ui-widget-content ui-corner-all">
                    </td>
                    <td>
                        <label for="d-developer">Developer</label>
                        <select type="text" id="d-developer"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="d-type">Type</label>
                        <select type="text" id="d-type"/>
                    </td>
                    <td>
                        <label for="d-feature">Feature</label>
                        <select type="text" id="d-feature"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="d-build-found">build found</label>
                        <input type="text" id="d-build-found" class="text ui-widget-content ui-corner-all">
                    </td>
                    <td>
                        <label for="d-build-fixed">build fixed</label>
                        <input type="text" id="d-build-fixed" class="text ui-widget-content ui-corner-all">
                    </td>
                </tr>
            </table>


            <!--<input type="text" name="d_summary" id="d_summary" value="" class="text ui-widget-content ui-corner-all">-->


            <label for="d-description">Description</label>
            <textarea id="d-description" rows="5" class="defects"></textarea>

            <input type="button" value="Insert" id="insert-comment">
            <label for="d-comments">Comments</label>
            <textarea id="d-comments" rows="5" class="defects"></textarea>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <!--<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">-->
        </fieldset>
    </form>
    </div>



</body>

<script>
    window.onload = function() {
        defects();
    }
</script>
<p align="right">v.1.0.0.115</p>
</html>