<html xmlns="http://www.w3.org/1999/html">

<title>Agile Manager</title>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript"  src="/js/main.js"></script>
    <script type="text/javascript"  src="/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript"  src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript"  src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript"  src="/config/config.js"></script>
</head>
<body background="./img/login.jpg">
<div id="wrapper">
    <div class="page-header"><h2><Agile Manager></h2>
        <p><h2>Login to Agile Manager</h2></p>
    </div><br /><br /><br /><br />
    <div class="form">
        <div id="notes"></div>
        <input name="login" type="text" placeholder="login" id="login"><br /><br />
        <input name="password" type="password" placeholder="password" id="password"><br /><br />
        <input class="a-inside edit" type="button" value="Login" id="submit">
    </div>
</div>




</body>
<script>
    window.onload = function() {
        main();
    }
</script>
</html>