<html>

<title>Agile Manager</title>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <div id="wrapper">
        <div class="page-header"><h2><Agile Manager></h2>
            <a class="a-inside menu" href="/login">Login</a>
        </div>
    </div>
</body>

</html>