<%- include layouts/header.ejs %>

<div class="page-data">

    <table width="100%">
        <tr><!-- Row 1 -->
            <td width="20%" class="td-border">
                <table class="table_tree"  width="100%" >
                    <tr><!-- Row 1 -->
                        <td class="td-border">
                            <input id="folder-new" type="button" value="+F">
                            <input id="test-new" type="button" value="+T">
                            <input id="test-delete" type="button" value="Delete">
                            <input id="tree-expand" type="button" value="+">
                            <input id="tree-collaps" type="button" value="-">
                        </td><!-- Col 1 -->
                    </tr>
                    <tr><!-- Row 2 -->
                        <td class="td-border">

                            <div class="dhtmlxTree"
                                 id="treebox_case"
                                 style="width:280px; height:400px;overflow:auto;">
                            </div>
                        </td><!-- Col 1 -->
                        <td class="td-border">

                           <!-- Test Details here -->
                            <table border="0"  width="100%">
                                <tr><!-- Row 1 -->
                                    <td>Name:</td><!-- Col 1 -->
                                    <td><input id="test-name" type="text" name="testName" value="test name"></td><!-- Col 2 -->
                                </tr>
                                <tr><!-- Row 2 -->
                                    <td>Owner:</td><!-- Col 1 -->
                                    <td>
                                        <select id="test-owner" name="owner"></select>
                                    </td><!-- Col 2 -->
                                </tr>
                                <tr><!-- Row 3 -->
                                    <td>Status: </td><!-- Col 1 -->
                                    <td>
                                        <select id="test-status" name="Status">
                                            <option selected value="new">New</option>
                                            <option value="design">Design</option>
                                            <option value="to-review">ToReview</option>
                                            <option value="valid">Valid</option>
                                            <option value="invalide">Invalide</option>
                                        </select>
                                    </td><!-- Col 2 -->
                                </tr>
                                <tr><!-- Row 4 -->
                                    <td>Notes:</td><!-- Col 1 -->
                                    <td><textarea id="test-notes" style="width: 200px"></textarea></td><!-- Col 2 -->
                                </tr>

                            </table>


                        </td><!-- Col 2 -->
                    </tr>
                </table>
            </td><!-- Col 1 -->
            <td width="50%" class="td-border">

                <table id="tc" border="1" width="100%">
                    <tr><!-- Row 1 -->
                        <td width="10%" class="td-border">Id</td><!-- Col 1 -->
                        <td width="40%" class="td-border">Steps</td><!-- Col 2 -->
                        <td width="32%" class="td-border">Expected</td><!-- Col 3 -->
                        <td width="3%"><input type="button" value="x"></td><!-- Col 3 -->
                    </tr>
                    <tr id="new-case" hidden="true"><!-- Row 1 -->
                        <td width="10%" class="td-border"><textarea style="width: 80px" id="case-id"></textarea></td><!-- Col 1 -->
                        <td width="45%" class="td-border"><textarea rows="10" id="case-steps"></textarea></td><!-- Col 2 -->
                        <td width="32%" class="td-border"><textarea rows="10" id="case-expected"></textarea></td><!-- Col 3 -->
                        <td width="3%"><input type="button" value="x"></td><!-- Col 3 -->
                    </tr>
                </table>
                <input id="test-case-add" type="button" value="Add">
                <input id="test-case-save" type="button" value="Save">
            </td><!-- Col 2 -->

        </tr>
    </table>





</div>
</body>
<script>
    window.onload = function() {
        testlab();
    }
</script>
</html>


