<%- include layouts/header.ejs %>

<div class="page-data">

    <table width="100%">
        <tr><!-- Row 1 -->
            <td width="20%" class="td-border">
                <table class="table_tree"  width="100%" >
                    <tr><!-- Row 1 -->
                        <td class="td-border">
                            <input id="test-new" type="button" value="New">
                            <input id="test-delete" type="button" value="Delete">
                        </td><!-- Col 1 -->
                    </tr>
                    <tr><!-- Row 2 -->
                        <td class="td-border">
                            <div class="dhtmlxTree"
                                 id="treeboxbox_tree"
                                 setImagePath="vendor/dhtmlx/sources/dhtmlxTree/codebase/imgs/dhxtree_terrace/"
                                 style="width:250px; height:218px;overflow:auto;">
                                <ul>
                                    <li>Root
                                        <ul>
                                            <li id="c1">Child1
                                                <ul>
                                                    <li>Child 1-1</li>
                                                </ul>
                                            <li>Child2</li>
                                            <li><b>Bold</b> <i>Italic</i></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td><!-- Col 1 -->
                    </tr>
                </table>
            </td><!-- Col 1 -->
            <td width="50%" class="td-border">

                <table border="1" width="100%">
                    <tr><!-- Row 1 -->
                        <td width="10%" class="td-border">Id</td><!-- Col 1 -->
                        <td width="45%" class="td-border">Steps</td><!-- Col 2 -->
                        <td width="32%" class="td-border">Expected</td><!-- Col 3 -->
                        <td width="3%"><input type="button" value="x"></td><!-- Col 3 -->
                    </tr>
                </table>
                <input id="test-step-add" type="button" value="Add">
            </td><!-- Col 2 -->
            <td width="20%" class="td-border">
                <table border="0"  width="100%">
                    <tr><!-- Row 1 -->
                        <td>Name:</td><!-- Col 1 -->
                        <td><input id="test-name" type="text" name="testName" value="test name"></td><!-- Col 2 -->
                    </tr>
                    <tr><!-- Row 2 -->
                        <td>Owner:</td><!-- Col 1 -->
                        <td>
                            <select id="test-owner" name="owner"></select>
                        </td><!-- Col 2 -->
                    </tr>
                    <tr><!-- Row 3 -->
                        <td>Status: </td><!-- Col 1 -->
                        <td>
                            <select id="test-status" name="Status">
                                <option selected value="new">New</option>
                                <option value="design">Design</option>
                                <option value="to-review">ToReview</option>
                                <option value="valid">Valid</option>
                                <option value="invalide">Invalide</option>
                            </select>
                        </td><!-- Col 2 -->
                    </tr>
                    <tr><!-- Row 4 -->
                        <td>Notes:</td><!-- Col 1 -->
                        <td><textarea id="test_notes" width="100%"></textarea></td><!-- Col 2 -->
                    </tr>

                </table>
            </td><!-- Col 3 -->
        </tr>
    </table>





</div>
</body>
<script>
    window.onload = function() {
        testlab();
    }
</script>
</html>


