.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

input{
    vertical-align:middle;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    font-size: 1.1em;
    color: #ffffff;

}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

table, th {
    border: 1px solid black;

}

.odd{background-color: #fffbf4
}
.even{background-color: #f6f2eb
}

.scroll-content {
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.defects{
    overflow-y: scroll;
}

th {
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #a1775f;
    color: #fff;
    text-align: center;
    vertical-align:middle;
}

#d-list tr td {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
}

tr.selected {background-color: #ffe3d1;}
tr.d-regular{background-color: #f5fff8;}


#d_details {
    width: 100%;
}

input#d-l-summary { margin-bottom:3px; width:79%; padding: .2em; }

#td_id{width: 3%;}
#td_summary{width: 50%;}



body { font-size: 80%; }
label, input { display:block; }

input.text { margin-bottom:3px; width:50%;}
select { margin-bottom:3px; width:100%; padding: .2em; }
textarea { margin-bottom:3px; width:100%; padding: .2em; }
fieldset { padding:0; border:0; margin-top:10px; }
h1 { font-size: 1.2em; margin: .6em 0; }

div{
    display: block;
}
div#newDefect { width: 500px; margin: 10px 0; }
div#newDefect table { margin: .5em 0; border-collapse: collapse; width: 100%; }
div#newDefect table td, div#newDefect table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }





.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}



select[name=d-list_length] {width: 4%;}


.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    /* padding-top: 0.25em; */
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333333 !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, white 0%, gainsboro 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
    /* W3C */
}



table.dataTable thead .sorting {
    background-image: url("http://cdn.datatables.net/1.10.6/images/sort_both.png");
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    cursor: pointer;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 2px 18px;
    border-bottom: 1px solid #111111;
}

table.dataTable thead .sorting_asc {
    background-image: url("http://cdn.datatables.net/1.10.6/images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("http://cdn.datatables.net/1.10.6/images/sort_desc.png");
}





