.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

input{
    vertical-align:middle;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    font-size: 1.1em;
    color: #ffffff;

}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

table, th {
    border: 1px solid black;

}

thead, tbody { display: block; }

.scroll-content {
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.defects{
    overflow-y: scroll;
}

th {
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #a1775f;
    color: #fff;
    text-align: center;
    vertical-align:middle;
}

#d-list tr td {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
}

tr.defect-selected {background-color: #ffe3d1;}
tr.d-regular{background-color: #f5fff8;}


#d_details {
    width: 100%;
}

input#d-l-summary { margin-bottom:3px; width:62%; padding: .2em; }

#td_id{width: 3%;}
#td_summary{width: 50%;}



body { font-size: 80%; }
label, input { display:block; }

input.text { margin-bottom:3px; width:50%;}
select { margin-bottom:3px; width:100%; padding: .2em; }
textarea { margin-bottom:3px; width:100%; padding: .2em; }
fieldset { padding:0; border:0; margin-top:10px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#newDefect { width: 500px; margin: 10px 0; }
div#newDefect table { margin: .5em 0; border-collapse: collapse; width: 100%; }
div#newDefect table td, div#newDefect table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}



